{{!< default}}
<header class="top-main">
<main class="site-main">
    <div class="general-cont">
        <div class="sez-left">
            <a class="blog-logo" id="blog" href="{{@blog.url}}">
                {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="Blog Logo">{{/if}}
            </a>
        </div>
        <div class="sez-right">
            {{! Including the menu template (partials/menu)}}
            {{> menu}}
       </div>
    </div>
</main>
</header>
<div class="content post-container" role="main">

<article class="page-author">
<section>
    <figure class="user-image">
                    <div id="user-image" class="img" {{#if author.image}}style="background-image: url({{author.image}})"{{/if}}></div>
                </figure>

                <div class="info-author">

                    <h4>{{author.name}}</h4>
                    <p>
                      {{author.bio}}
                    </p>

                    <div class="author-social">
                        <a class="ico-w-facebook" href="#" alt="facebook"></a>
                        <a class="ico-w-twitter" href="#" alt="twitter"></a>
                        <a class="ico-w-instagram" href="#" alt="instagram"></a>
                        <a class="ico-w-gplus" href="#" alt="google+"></a>
                        <a class="ico-w-linkedin" href="#" alt="linkedin"></a>
                        <a class="ico-w-youtube" href="#" alt="youtube"></a>
                        <a class="ico-w-pinterest" href="#" alt="pinterest"></a>
                        <a class="ico-w-behance" href="#" alt="behance"></a>
                        <a class="ico-w-dribbble" href="#" alt="dribbble"></a>
                        <a class="ico-w-flickr" href="#" alt="flickr"></a>
                        <a class="ico-w-github" href="#" alt="github"></a>
                    </div>
                </div>
</section>
</article>


{{#foreach posts}}
<div class="cont-post-article fadeUp">
    {{#if image}}
        <div class="post-image" style="background-image:url({{image}});"></div>
    {{/if}}
    <article class="{{post_class}}" >
        <span class="ico-featured"></span>

        <div class="sez-left sez-left-post">
            <time class="date-post" datetime="{{date format='YYYY-MM-DD'}}">
                <span class="month">{{date format="MMM"}}</span>
                <span class="day">{{date format="DD"}}</span>
                <span class="year">{{date format="YYYY"}}</span>
            </time>
        </div>

        <div class="sez-right sez-right-post">
        <header class="post-header">

            <span class="post-meta">{{tags separator=" - "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-author">by {{#author}} <a href="{{url}}">{{name}}</a>  {{/author}}</span>

        </header>
        <section class="post-excerpt">
            <p> {{excerpt}}&hellip;</p>
        </section>
        <div class="post-info">
           <a href="{{url}}" class="post-info-more">Read More</a>
           <a href="{{url}}#disqus_thread" class="post-info-comment"></a>
        </div>
        </div>
        <div class='hidden search-content'>
            {{excerpt words="999999"}}
        </div>
        <ul class='hidden-tag-list'>
            {{#each tags}}
                <li>{{name}}</li>
            {{/each}}
        </ul>
    </article>
</div>
{{/foreach}}
</div>
{{! Including the pagination template (partials/pagination)}}
    {{pagination}}